<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="wishcantw.vocabulazy">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name="wishcantw.vocabulazy.application.GlobalVariable"
        android:allowBackup="true"
        android:icon="@mipmap/launcher_icon"
        android:label="@string/app_name" >

        <activity
            android:name="wishcantw.vocabulazy.cover.activity.CoverActivity"
            android:theme="@style/AppTheme.CoverActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="wishcantw.vocabulazy.mainmenu.activity.MainMenuActivity"
            android:theme="@style/AppTheme.MainMenuActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name="wishcantw.vocabulazy.player.activity.PlayerActivity"
            android:theme="@style/AppTheme.PlayerActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name="wishcantw.vocabulazy.exam.activity.ExamActivity"
            android:theme="@style/AppTheme.ExamActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name="wishcantw.vocabulazy.search.activity.SearchActivity"
            android:theme="@style/AppTheme.SearchActivity"
            android:screenOrientation="portrait" />

        <service
            android:name="wishcantw.vocabulazy.audio.AudioService"
            android:exported="false" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="9a4b2afb00f201293cf5fee6915e471be4ddeb81" />

    </application>

</manifest>
