<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wishcan.www.vocabulazy" >

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/launcher_icon"
        android:label="@string/app_name" >
        <activity
            android:name=".main.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/MyThemeForMainActivity"
             >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.AudioService"
            android:exported="false" />

        <activity
            android:name=".search.SearchActivity"
            android:icon="@android:color/transparent"
            android:label="@string/app_name"
            android:parentActivityName=".main.MainActivity"
            android:theme="@style/MyThemeForSearchActivity" >
        </activity>
    </application>

</manifest>
